/* src/components/Gallery.css */
/*path du chemin relatif*/
.gallery {
    padding: 1rem;
    background-color: var(--background-color);
    border: 1px solid #ddd;
    margin-bottom: 2rem;
  }
  
  .gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .gallery-item {
    width: calc(50% - 1rem);
    cursor: pointer;
  }
  
  .gallery-item:hover {
    opacity: 0.8;
  }
  